#slider-infos {
	display: block;
	width: 100%;
	position: relative;
	opacity: 0;
	transition: all 0.6s ease;
	transform: translateX(-500px);
	.bg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.tns-outer {
		.tns-controls {
			button[data-controls="prev"],
			button[data-controls="next"] {
				position: absolute;
				top: 50%;
				transform: translateY(-60%);
				z-index: 1;
				width: 40px;
				height: 40px;
				background: rgba(0, 0, 0, 0);
				border: none;
				transition: all 0.3s ease;
				span {
					position: relative;
					display: block;
					width: 32px;
					height: 32px;
					// background: #fff;
					border-radius: 50%;
					&::after,
					&::before {
						content: "";
						width: 10px;
						height: 2px;
						position: absolute;
						background: #fff;
						left: 40%;
						transform: translateX(-40%);
					}
					&::before {
						top: calc(50% - 3px);
						transform: rotate(-45deg);
					}
					&::after {
						top: calc(50% + 3px);
						transform: rotate(45deg);
					}
				}
			}
			button[data-controls="prev"] {
				left: 5px;
				border-radius: 0 5px 5px 0;
			}
			button[data-controls="next"] {
				right: 14px;
				border-radius: 5px 0 0 5px;
				span {
					&::after {
						top: calc(50% - 3px);
						transform: rotate(45deg);
					}
					&::before {
						top: calc(50% + 4px);
						transform: rotate(-45deg);
					}
				}
			}
			button[disabled] {
				opacity: 0;
				pointer-events: none;
			}
		}
	}
	.container {
		margin-top: -1px;
		margin-bottom: -1px;
		// display: flex;
		.info-titulo-mobile {
			position: relative;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 19.5625rem;
			padding-top: 3.8125rem;
			background: #192957;


			h2 {
				font-size: 25px;
				line-height: 2.1875rem;
				font-family: $fonte-padrao;
				font-weight: 700;
				text-align: center;
				letter-spacing: 0;
				width: 100%;
				max-width: 225px;
				color: #fff;
				text-transform: uppercase;

				margin: 0 0 60px;

				span, strong {
					font-weight: 700;
				}
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}
		}
		.info {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			z-index: 1;
			position: relative;
			height: 313px;
			background: #fff;
			&:nth-child(odd){
				background: #fff;
			}
			// padding-right: 100px;
			.bg {
				display: block;
				object-fit: contain;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
			}
			.icon {
				width: auto;
				height: 3.3125rem;
				// border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				.svg {
					width: 100%;
					height: 100%;
					* {
						fill: #fff;
					}
				}
			}
			.hover {
				width: 100%;
				height: 100%;
				background: rgba(25, 41, 87,.85);
				padding: 8px;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				h3 {
					font-family: $fonte-padrao;
					font-size: 25px;
					line-height: 2.5625rem;
					font-weight: 600;
					text-align: center;
					letter-spacing: 0px;
					color: #fff;
					text-transform: capitalize;
					margin: 12px 0 4px 0;
					padding: 20px;
					strong, span {
						font-weight: 700;
					}
				}
				p {
					width: auto;
					max-width: 365px;
					text-align: center;
					line-height: 1.1875rem;
					font-size: 14px;
					font-family: $fonte-secundaria;
					color: #0E3358;
					font-weight: 400;
					margin: 0;
					strong, span {
						font-weight: 700;
					}
				}
			}

			// &:nth-child(even) {
			// 	.svg {
			// 		* {
			// 			fill: #0B2A49;
			// 		}
			// 	}
			// 	p {
			// 		color: #0B2A49;
			// 	}
			// }
		}
		a {
			width: 100vw;
			height: 313px;
			background: #192957;
			color: #fff;
			font-size: 18px;
			font-family: Kanit,sans-serif;
			text-align: center;
			align-items: center;
			display: inline-flex;
			justify-content: center;
			box-sizing: border-box;
			padding-right: 30px;
			text-transform: uppercase;
			font-weight: 700;
		}
		.descricao{
			width: 209px;
			background: #fff;
			height: 188px;
			/* box-sizing: border-box; */
			padding: 16px;
			border-radius: 20px;
			h4{
				color: #0E3358;
				font-weight: 500;
				font-size: 20px;
			}
			p{
				color: #1D4C7B;
				font-size: 15px;
			}
		}
	}
	&.on {
		opacity: 1;
		transform: translateX(0);
	}
	@media screen and (min-width: $mobile) {
		padding: 0 0 65px;
		background: #D6EAEC;
		// background: linear-gradient(180deg, #fff, #7DADB4);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 85px 0 85px;
		.bg {
			background: #fff;
		}
		h1 {
			font-size: 60px;
			line-height: 2.9375rem;
			text-align: center;
			letter-spacing: 0;
			font-weight: 600;
			color: #192957;
			margin-bottom: .3125rem;
			text-transform: capitalize;
			background: transparent;
			font-family: $fonte-padrao;
			margin: 0 0 60px;
			strong, span {
				font-weight: 700;
			}
			br {
				display: none;
			}
		}
		img {
			width: auto;
			height: 2.9375rem;
			margin: 0 0 2.9375rem;
		}
		.container {
			width: 100%;
			max-width: 1310px;
			height: auto;
			// max-height: 235px;
			border: 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 60px;
			.info {
				position: relative;
				width: 280px;
				height: 280px;
				box-sizing: border-box;
				overflow: hidden;
				padding: 0;
				border-radius: 20px;
				background: transparent !important;
				.icon {
					width: auto;
					height: 50px;
					.svg {
						width: 100%;
						height: 100%;
					}
				}
				h3 {
					font-size: 1.625rem;
					line-height: 2.4375rem;
					margin: .3125rem 0 0;
					color: #fff;
					text-align: center;
				}
				.hover {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					width: calc(100% + 20px);
					height: calc(100% + 20px);
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: all 0.5s ease-in-out;
					opacity: 0;
					background: rgba(25, 41, 87,.85);
					h3 {
						color: #fff;
						text-align: center;
						font-size: 35px;
						line-height: 3.5625rem;
						font-weight: 400;
						padding: 20px;
					}
					p {
						width: 212px;
						height: 191px;
						margin: 0;
						transition: all 0.5s ease-in-out;
						position: relative;
						top: 30%;
						br {
							display: none;
						}
					}
				}
				&:hover {
					.hover {
						opacity: 1;
					}
				}
			}
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 253px;
			height: 65px;
			background: #38b6ff;
			box-shadow: 0 3px 0 1px #192957;
			color: #fff;
			transition: all 0.4s ease-in-out;
			border-radius: 54px;
			font-size: 22px;
			margin-top: 75px;
			&:hover {
				background: #34628e;
			}
		}
	}
}
