#sobreEvento {
	width: 100vw;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
	padding-top: 85px;
	background-color: white;
	// background-image: linear-gradient(to bottom, #ffffff, #fafbfc, #f5f7fa, #eff3f7, #e8eff4);
	.containerSobre{
		padding: 40px 0;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: #192957;

		&.direita {
			background: #fff;
			.container {
				h1 {
					color: #192957;
				}
				.sobre {
					.cardEvento {
						p {
							color: #192957;
						}
					}
				}
			}

		}
	}
	.container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 1146px;
	}
	h1 {
		font-family: $fonte-padrao;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 1px;
		color: #fff;
		text-align: center;
		font-weight: 400;
		margin: 20px 0;
		font-weight: 600;
	}
	.sobre {
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		width: 100%;
		img {
			width: 250px;
			height: 190px;
			object-fit: cover;
		}
		.cardEvento {
			width: 274px;
			height: auto;	
			p {
				font-size: 17px;
				color: #fff;
				line-height: 26px;
				text-align: center;
				font-weight: 400;
				width: 100%;
				height: auto;
				margin-right: 0;
				margin: 0;
				font-family: $fonte-padrao;
			}
		}
		.iframe {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			transition: all 1s ease-in-out;
			z-index: 10;
			&.play {
				opacity: 1;
				visibility: visible;
			}
		}
		.closeIframe {
			width: 50px;
			height: 50px;
			// position: fixed;
			// top: 10%;
			// right: 1%;
			background: #000;
			z-index: 15;
			border-radius: 50%;
			opacity: 0;
			visibility: hidden;
			cursor: pointer;
			transition: all 1s ease-in-out;
			&:after,
			&:before {
				content: "";
				width: 22px;
				height: 4px;
				background: #fff;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				display: block;
				position: absolute;
			}
			&:after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
			&.on {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.bgMobile {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;
	}
	@media screen and (min-width: $mobile) {
		padding: 0 0 95px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		.containerSobre {
			background: #192957;
			padding: 0;
			.container{
				h1 {
					font-size: 36px;
					color: #fff;
					line-height: 38px;
					letter-spacing: 0;
					font-family: $fonte-padrao;
					margin: 70px auto 30px;
					text-align: center;
					width: 100%;
					font-weight: 600;
					text-transform: uppercase;
				}
				.sobre {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					.imgs-bg {
						position: relative;
						width: 50%;
						height: 300px;
						max-width: 410px;
						margin-bottom: -35px;
						box-shadow: 0px 50px 99px #0000001a;

						img {
							width: 100%;
							height: 100%;
							z-index: 2;
							position: absolute;
							bottom: -15px;
							left: -20px;
						}
						.boxLaranja{
							background-color: #38b6ff;
							z-index: -1;
							width: 100%;
							height: 100%;
						}
					}
					.cardEvento {
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 50%;
						height: auto;
						box-sizing: border-box;
						margin: 0;
						text-align: center;
						background: transparent;
						span {
							line-height: 25px;
							font-size: 15px;
							width: auto;
							text-align: justify;
							font-family: $fonte-secundaria;
							color: #fff;
							p{
								text-align: left;
							}
						}
					}
				}
				.bgMaior {
					position: absolute;
					width: 100%;
					height: 100%;
					bottom: 0;
					left: 0;
					z-index: -2;
				}
			}
			&.direita {
				margin-top: 85px;
				background: #fff;
				.container{
					h1 {
						color: #192957;
						margin-top: 0;
					}
					.sobre {
						flex-direction: row-reverse !important;
						.imgs-bg {
							img {
								right: -20px;
								left: unset;
							}
						}
						.cardEvento {
							span {
								color: #192957;
							}
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: $full-hd) {
		h1 {
			// margin: 0 30px 20px;
		}
		.sobre {
			// margin-left: 4%;
			img {
			}
			.cardEvento {
				// left: 85%;
				p {
				}
			}
		}
	}
}
